<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                <%
                    data.forEach((item)=>
                    {
                        let total=item.quantity*item.price;
                        
                    %>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                      src="uploadimages/<%=item.image%>"  style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><%=item.iname%></h4>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><%=item.quantity%></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>&#8377 <%=item.price%></strong></td>
                        
                        <td class="col-sm-1 col-md-1 text-center"><strong><%=total%></strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Accept
                            </button>
                          
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                    <%})%>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
